
header
{
    position: -webkit-sticky;
    position: sticky;
	top: 0%;
	
	background-color: #24445C;
	
	width: 100%;
    height: 10%;
   
    border-top: 0px;
	border-bottom: 2px solid black;
    box-shadow: 0px 5px 10px;
    
    display: flex;
}
body{
    background-color: rgb(22, 13, 143);
    border-style: solid;
    border-color: rgb(253, 0, 0);
    max-width: 100%;
    max-height: 100%;
    height : auto;
    width: auto;
    margin: 0%;
    padding: 0%;
}

h1
{
    color: white;
    padding-bottom: 0%;
    padding-top: 10%;
    margin: 0%;

}

h1:hover{
    color: orange;
}

a
{	
	text-decoration: none;
}

a:hover
{
	color: blue;
}

a:active
{
	color: grey;
}

.Lien-nav-Accueil
{
	list-style-type: none;
	
	box-shadow: 21px 3px 15px -9px ;

    color: white;
    text-align: center;

	margin: 0%;
    padding-left: 2%;
    padding-right: 2%;
	
    transition: 0.5s all;
    
    border-style: solid;
    border-color: brown;
}

.Lien-nav-Accueil a:hover
{
    transition: 0.2s all;
}

.div-headers-1
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.div-headers-2
{
    text-align: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;

    align-items: center;
}

.div-separation
{
    width: 1%;
    box-shadow: 11px 3px 15px -3px rgba(0,0,0,0.75);
}

img
{
    background-color: rgb(179, 6, 6);
    width: auto;
    height: 100%;
    border-style: solid;
    border-color: aliceblue;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0%;
    margin: 0%;
}

.affichage-div-image
{
    width: auto;
    height: 100%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    white-space: nowrap;
    display: table-cell;
    display: flex;
    flex-direction: column;
}

.div-image
{
    width: auto;
    height: 100%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    white-space: nowrap;
    display: table-cell;
    
    border-style: solid;
    border-color: rgb(13, 136, 145);
}

.div-nom-image
{
    width: auto;
    height: auto;

    width: auto;
    height: auto;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    white-space: nowrap;
    display: table-cell;

    background-color: rgb(19, 70, 94);
    text-align: center;

    border-top: 2px solid rgb(51, 84, 112);
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}

.p-nom-image
{
    color: rgb(196, 196, 196);
    size: 50px;
}

.a-nom-image
{
    color: rgb(196, 196, 196);
    size: 50px;
    
    padding-right: auto;
	padding-left: auto;
	
	display: block;
	display: -webkit-block;
	
	/*box-shadow: 0px 5px 10px;*/
	
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2%;
	
	transition: 0.5s all;
}
.a-nom-image:hover
{
    color: rgb(255, 255, 255);
}

.conteneur-1
{
    background-color: rgb(102, 102, 102);
    margin: 0%;
    padding: 0%;
    display: block;
    border-style: solid;
    border-color: rgb(37, 0, 58);
    width: auto;
    height: 89.5%;
}

.conteneur-2
{
    border-style: solid;
    border-color: rgb(251, 255, 0);
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    overflow-y: scroll;
}