/*
|----------------------------------------------------|
|----------------------   PAGE MENU  ----------------|
|----------------------------------------------------|
*/

.div-icone {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: left;
}

.icone {
    width: 20%;
    height: auto;
}

.Liens-Accueil {
    background-color: rgb(48, 101, 216);
    padding-right: auto;
    padding-left: auto;
    color: black;
    display: block;
    display: -webkit-block;
    /*box-shadow: 0px 5px 10px;*/
    text-decoration: none;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    transition: 0.5s all;
    color: rgb(223, 223, 223);
}

.Liens-Accueil:hover {
    background-color: #351aad;
}

#conteneur {
    /*
	border-style: solid;
    border-color: rgb(37, 17, 226);*/
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 90%;
}

.Menu-comp {
    /*
	border-style: solid;
	border-color: rgb(3, 206, 3);*/
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
    margin-bottom: 5%;
    max-width: 100%;
    max-height: 100%;
    height: 90%
}

.menu-param-inactif {
    width: 20%;
    height: 90%;
    display: flex;
    margin: 0%;
    padding: 0%;
    background-color: blue;
    position: absolute;
    /*right: 100%;*/
    right: 100%;
    top: 10%;
    transition-duration: 1.5s;
    display: flex;
}

.menu-param-actif {
    width: 20%;
    height: 90%;
    display: flex;
    margin: 0%;
    padding: 0%;
    background-color: blue;
    position: absolute;
    right: 80%;
    top: 10%;
    transition-duration: 0.5s;
    z-index: 1;
}

.conteneur-para-onglet-menu {
    /*border: 1px solid white;*/
    height: 100%;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    nav {
        border-right: 1px solid rgb(88, 152, 248);
        -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
        width: auto;
        height: auto;
        text-orientation: mixed;
        writing-mode: sideways-lr;
        -webkit-writing-mode: vertical-rl;
        text-align: center;
        display: block;
        flex: 1;
        padding-right: 35%;
        padding-left: 35%;
    }
}

.para-nav:hover {
    border-right: 0px;
    background-color: #000096;
}

.conteneur-para-contenue {
    /*border: 1px solid rgb(8, 182, 66);*/
    height: 100%;
    width: 80%;
    transition-duration: 1s;
}

.menu-multimedia {
    background-color: #000096;
    width: 80%;
    height: 100%;
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) blue;
}

.menu-multimedia-z {
    background-color: #000096;
    width: 80%;
    height: 100%;
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
}

.Nav-Liens {
    width: 25%;
    height: auto;
    margin-right: 1%;
    margin-top: 2%;
    border-style: solid;
}

.Nav-nav-Image {
    background-color: white;
    display: flex;
    justify-content: center;
}

.Nav-Image {
    max-width: 40%;
}

.conteneur-params {
    display: block;
    width: 100%;
    height: 100%;
    /*border: 2px solid white;*/
}

.div-title-img {
    display: flex;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.nav-input-texte {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
}

.new-input {
    background-color: #83d754;
}

.img-ajouter {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.img-supprimer {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.div-menu-est {
    height: 20%;
    width: auto;
    padding-bottom: 2%;
    border-bottom: 1px solid white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: orange blue;
}

.button-save {
    width: 100%;
    height: 5%;
}